doctype html
html(lang="en",dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 
    link(rel="stylesheet", href="dist/styles/main.min.css")
    

  body
    #app
      
      
      
      script(src="dist/scripts/main.min.js")
      script(src="vendor/scripts/vue.js")
