$old-paper: #f2eecb
$blk: #000
$white: #fff
$yellow: #ff0


root
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

.app-container
  width: 100%

.container
  background-color: lighten($old-paper, 5%)
  border: 1px solid $white
  box-shadow: 2px 2px 2px 2px
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(2, .5fr)
  justify-content: center
  text-align: center


.form-container
  input
    border-radius: .5em

    &:focus
      background-color: $yellow

  button
    border-radius: .2em
    padding: .2em

ol
  list-style: none

li
  align-items: center
  border: 1px solid $blk
  box-shadow: 1px 1px 1px 1px $blk
  display: flex
  margin-bottom: .5em
  width: 40%

  span
    margin: .3em
    text-transform: capitalize


.complete
  text-decoration: line-through

@media (min-width: 425px)
  li
    left: 20%
    position: relative

@media(max-width: 768px)
  li
    left: 30%

@media(min-width: 1024px)
  .container
    left: 25%
    position: absolute
    width: 50%

  li
    left: 35%
